<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="
				height = device-height ,
				width = device-width ,
				initial-scale = 1.5 ,
				minimum-scale = 1.0 ,
				maximum-scale = 3.0 ,
				user-scalable = yes ,
				target-densitydpi = device-dpi" />
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<title>SelfStudyManagement</title>
		<link rel="shortcut icon" href="//ayastudymg.appspot.com/img/favicon.ico" type="/img/favicon.ico">
		<link rel="apple-touch-icon" href="//ayastudymg.appspot.com/img/apple-touch-icon.png" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/reset.css">
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
		<link type="text/css" rel="stylesheet" href="/stylesheets/buttons.css">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script type="text/javascript" src="/js/subjectMainte.js"></script>
	</head>
	<body>
		<!--日付別一覧-->
		<header class="bottom-line">
			<div style="font-size: 20px;">日付別一覧</div>
		</header>

		<nav>
			<ul>
				<li>
					<a href='/' class="button button-pill button-primary">
						<img alt="" src="/img/blue-home-icon.png" class="home">
						Home
					</a>
				</li>
				<li>
					<a href='/listPerDate' class="button button-pill button-action">
						<img alt="" src="/img/Actions-view-list-text-icon.png" class="list">
						日付別一覧
					</a>
				</li>
				<li>
					<a href='/subject' class="button button-pill button-highlight Js-SubjectMainte">
						<img alt="" src="/img/maintenance-icon.png" class="subjectMainte">
						科目メンテ
					</a>
				</li>
			</ul>
		</nav>

		<section class="main">
			<section class="formSection top-line">
				<form action='#'>
					<section style="margin: 5px 10px;">
						<span style="display: inline-block; width: 40px; vertical-align: baseline;">科目</span>
						<input type="text" name="subjectName" id="subjectName" style="vertical-align: baseline;" />
					</section>
					<section>
						<input type='submit' id='search' value='検索'>
					</section>
				</form>
			</section>

			<section class="top-line">
				<form action="#">
					<span style="display: inline-block;">登録済科目</span>
					<table class="allSubjectTable">
						<colgroup>
							<col style="width: 100px;" />
							<col style="width: 40px;" />
							<col style="width: 40px;" />
						</colgroup>
						{% for subject in subjects %}
							{% if subject != None %}
							<tr>
								<td><input type="text" value="{{ subject.subjectName }}" name="{{ subject.key }}" id="TxtSubjectName"></td>
								<td><input type="submit" id="update{{ forloop.counter0 }}" value="更新"
										   name="{{ subject.key }}" class="Js-UpdateSubject"></td>
								<td><input type="submit" id="delete{{ forloop.counter0 }}" value="削除"
										   name="{{ subject.key }}" class="Js-DeleteSubject"></td>
							</tr>
							{% endif %}
						{% endfor %}
					</table>
				</form>
			</section>
		</section>

		<footer>
		</footer>
	</body>
</html>