<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="
				height = device-height ,
				width = device-width ,
				initial-scale = 1.5 ,
				minimum-scale = 1.0 ,
				maximum-scale = 3.0 ,
				user-scalable = yes ,
				target-densitydpi = device-dpi" />
<!-- 		<meta http-equiv="Content-Script-Type" content="text/javascript"> -->
		<title>SelfStudyManagement</title>
		<link rel="shortcut icon" href="//ayastudymg.appspot.com/img/favicon.ico" type="/img/favicon.ico">
		<link rel="apple-touch-icon" href="//ayastudymg.appspot.com/img/apple-touch-icon.png" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/reset.css">
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
		<link type="text/css" rel="stylesheet" href="/stylesheets/buttons.css">
		<link type="text/css" rel="stylesheet" href="/stylesheets/calendar.css">
		<link type="text/css" rel="stylesheet" href="/stylesheets/custom_2.css">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/modernizr.custom.63321.js"></script>
		<script type="text/javascript" src="/js/jquery.calendario.js"></script>
		<script type="text/javascript" src="/js/common.js"></script>
		<script type="text/javascript" src="/js/listPerDate.js"></script>
	</head>
	<body>
		<!--日付別一覧-->
		<header class="bottom-line">
			<div style="font-size: 20px;">日付別一覧</div>
		</header>

		<nav>
			<ul>
				<li>
					<a href='/' class="button button-pill button-primary">
						<img alt="" src="/img/blue-home-icon.png" class="home">
						Home
					</a>
				</li>
				<li>
					<a href='/listPerDate' class="button button-pill button-action">
						<img alt="" src="/img/Actions-view-list-text-icon.png" class="list">
						日付別一覧
					</a>
				</li>
				<li>
					<a href='/subject' class="button button-pill button-highlight Js-SubjectMainte">
						<img alt="" src="/img/maintenance-icon.png" class="subjectMainte">
						科目メンテ
					</a>
				</li>
			</ul>
		</nav>
		
		<div class="bottom-line"></div>

		<section class="main">
			<!-- 検索セクション -->
			<section class="formSection">
				<form action='#'>
					<section>
						<div class="custom-calendar-wrap">
						<div id="custom-inner" class="custom-inner">
							<div class="custom-header clearfix">
								<nav>
									<span id="custom-prev" class="custom-prev"></span>
									<span id="custom-next" class="custom-next"></span>
								</nav>
								<h2 id="custom-month" class="custom-month"></h2>
								<h3 id="custom-year" class="custom-year"></h3>
							</div>
							<div id="calendar" class="fc-calendar-container"></div>
							</div>
						</div>
						<div id="existDataArea">
					{% for existDataList in existDataLists %}
						{% if existDataList != None %}
						<input type="hidden" class="exist-data-lists" value="{{ existDataList }}">
						{% endif %}
					{% endfor %}
						</div>
					</section>
				</form>
			</section>

			<!-- 検索結果表示セクション -->
			<section class="top-line">
				<form action="#">
					<span style="display: inline-block;">登録済科目</span>
					<table class="allStudyUnitsTable">
						<colgroup>
							<col style="width: 100px;" />
							<col style="width: 300px;" />
							<col style="width: 130px;" />
							<col style="width: 40px;" />
						</colgroup>
						<thead>
							<tr>
								<th><span style="display:inline-block; width:40px;">科目</span></th>
								<th><span style="display:inline-block; width:40px;">内容</span></th>
								<th><span style="display:inline-block; width:40px;">時間</span></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						{% for studyUnit in studyUnits %}
							{% if studyUnit != None %}
							<tr>
								<td>
									<span style="display:inline-block;">{{ studyUnit.subject.subjectName }}</span>
								</td>
								<td>
									<span style="display:inline-block;">{{ studyUnit.content }}</span>
								</td>
								<td style="text-align: right;">
									<span style="display:inline-block;">{{ studyUnit.studyTimeHour }} 時間</span>
									<span style="display:inline-block;">{{ studyUnit.studyTimeMinute }} 分</span>
								</td>
								<td>
									<input type="submit" id="delete{{ forloop.counter0 }}" value="削除"
										   name="{{ studyUnit.key }}" class="Js-DeleteStudyUnit">
								</td>
							</tr>
							{% endif %}
						{% endfor %}
						</tbody>
					</table>
				</form>
			</section>
		</section>
		
	</body>
</html>